#contacts{
    color:var(--rosa);
}

h2{
font-size:var(--titulos);
letter-spacing:0.05rem;
}

h4{
    /*grid-column:3/10;*/
    width:100%;
}

/*.cont{
    display:grid;
    grid-template-columns: fit-content(20%), fit-content(80%), fit-content(20%);
    grid-column-gap: 1.65%;

    grid-template-rows: 1fr, 5fr, 1fr;
    margin:2.32%;
    height:90vh;
    /*width:calc(100%-(2*2.32%));
    justify-items: center;
}*/

.content{
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, 40%);
    text-align:center;
}

.social{
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-column-gap: 5%;
    align-items:baseline;
    justify-content:center;
    margin:0% 0% 10% 0%
}


.social li{
    width:100%;
}

.social img {
    width:80%;
    
    height:auto;
    /*margin-bottom:18px;*/
}

.content > img{
    width:10%;
    margin:5%;
}

h3{
    margin-bottom:10%;
}
h4{
    font-size: 1.2rem;
    margin:2%;
}