*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /*COLORS*/
    --preto: #141414;
    --branco: #FFFFFF;
    --rosa: #FA00FF;
    --amarelo: #FFFF00;
    --cyan: #00D1FF;

    /*text*/
    text-decoration:none;
    /*font-family: 'Krona One', sans-serif;*/
    font-family: 'Avenir', sans-serif;
    color: var(--branco);
}

html{
    background-color: var(--preto);
}

div{
    display:inline-block;
    /*background-color: var(--bordo);*/
}
main{
    position:relative; 
    max-height:100vh;
    width:100%;
}

@media screen and  (min-width: 600px){
    .container{
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.65%;
    
        grid-template-rows: repeat(8,1fr);
        /*grid-row-gap: 3%;*/
    
        margin:2.32%;
        height:95vh;
        width:calc(100%-(2*2.32%));
    } 
}
