@media screen and  (min-width: 600px){ 
    .imgs{
        width:100%;
        height:auto;
    }
    
    #img1{
        grid-column: 2/4;
        grid-row:1/3;
    }
    
    #img2{
        grid-column: 6/8;
        grid-row:2/4;
    }
    
    #img3{
        grid-column: 1/3;
        grid-row:4/6;
    }
    
    #img4{
        grid-column:4/6;
        grid-row:5/7;
    }
    
    #img5{
        grid-column:8/10;
        grid-row:7/9;
    }
    
    #img6{
        grid-column:11/13;
        grid-row:6/8;
    }
    
    #img7{
        grid-column:9/11;
        grid-row:3/5;
    }   
}


#work{
    color:var(--rosa);
}


/*.inline path:hover{
   filter: invert(.5) sepia(1);
}*/

.show{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.50);
    background-size:cover; 
    background-position:center center;
    /*z-index:100;*/
    height:101vh;
}


/*#linkedin:hover{
    filter:var(--amarelo);
}*/
/*#img3:hover{
    
}*/

.box{
    margin:0;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-size:cover; 
    background-position:center center;
    transition: background-image 0.3s ease-in-out;
    z-index:-10;
}

.img-wrapper {
    display: inline-block;
    /*z-index:30;*/
}

.nome_proj{
    font-size:var(--titulos);
    font-family: 'Krona One', sans-serif;
    font-weight:700;
    color:var(--amarelo);
    position:absolute;
    bottom:5%;
    right:2.32%;
    max-width:30%;
    text-align:right;
    line-height:3.5rem;
   /* z-index:100;*/
}